@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(87.1% 0.006 286.286);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: oklch(21.6% 0.006 56.043);
}
