@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* base */
  --color-base-100: oklch(1 0 0); /* верхний слой */
  --color-base-200: oklch(0.9273 0.0045 214.33); /* нижний слой */
  --color-base-300: oklch(0.8117 0.0187 234.61); /* бордеры/делители */
  --color-base-content: oklch(22% 0.015 70); /* ОСНОВНОЙ текст */

  /* brand / accents */
  --color-primary: oklch(0.5874 0.15 342);
  --color-primary-content: oklch(98% 0.003 95); /* текст на primary */

  --color-secondary: oklch(0.804 0.0387 232.06);
  --color-secondary-content: oklch(98% 0.003 95);

  --color-accent: oklch(0.1347 0 0);
  --color-accent-content: oklch(96% 0.003 95); /* светлый текст на accent */

  --color-neutral: oklch(30% 0.02 70);
  --color-neutral-content: oklch(96% 0.003 95);

  /* states */
  --color-info: oklch(75% 0.12 220);
  --color-info-content: oklch(15% 0.01 250);

  --color-success: oklch(72% 0.1 145);
  --color-success-content: oklch(18% 0.01 145);

  --color-warning: oklch(84% 0.12 85);
  --color-warning-content: oklch(22% 0.02 80);

  --color-error: oklch(62% 0.2 25);
  --color-error-content: oklch(98% 0.003 95);

  /* system (используются компонентами daisyUI) */
  --radius-box: 0.85rem; /* карточки/модалки*/
  --radius-field: 0.6rem; /* кнопки */
  --radius-selector: 1rem; /* бейджи */
  --border: 1px; /* base border-width для компонентов */
}

@plugin "daisyui/theme" {
  name: "dark";

  /* base */
  --color-base-100: oklch(0.3589 0.0043 325.67); /* верхний слой */
  --color-base-200: oklch(0.2381 0.0048 325.73); /* нижний слой */
  --color-base-300: oklch(30% 0.008 70); /* бордеры/делители */
  --color-base-content: oklch(97% 0.003 95); /* ОСНОВНОЙ текст */

  /* brand / accents (ярче, чтобы «светились») */
  --color-primary: oklch(70% 0.15 342);
  --color-primary-content: oklch(98% 0.003 95);

  --color-secondary: oklch(66% 0.09 30);
  --color-secondary-content: oklch(18% 0.01 70);

  --color-accent: oklch(72% 0.09 85);
  --color-accent-content: oklch(18% 0.01 70);

  --color-neutral: oklch(40% 0.02 70);
  --color-neutral-content: oklch(96% 0.003 95);

  /* states */
  --color-info: oklch(72% 0.12 220);
  --color-info-content: oklch(15% 0.01 250);

  --color-success: oklch(68% 0.11 145);
  --color-success-content: oklch(18% 0.01 145);

  --color-warning: oklch(78% 0.14 85);
  --color-warning-content: oklch(18% 0.02 80);

  --color-error: oklch(64% 0.2 25);
  --color-error-content: oklch(98% 0.003 95);

  /* system */
  --radius-box: 0.85rem; /* карточки/модалки*/
  --radius-field: 0.6rem; /* кнопки */
  --radius-selector: 1rem; /* бейджи */
  --border: 1px; /* base border-width для компонентов */
}

/* Для перекрашивания браузерного фона инпутов при автоподстановке данных */
@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-base-200) inset !important;
    -webkit-text-fill-color: var(--color-base-content) !important;
    caret-color: var(--color-base-content) !important;
    border-radius: inherit; /* чтобы не обрезало углы */
    background-clip: content-box, padding-box;
  }
}

body {
  font-family: "Roboto", sans-serif;
}
