@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

/* react-date-range */
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* base */
  --color-base-100: oklch(1 0 0); /* верхний слой */
  --color-base-200: oklch(0.87 0 0); /* нижний слой */
  --color-base-300: oklch(0.8117 0.0187 234.61); /* бордеры/делители */
  --color-base-content: oklch(22% 0.015 70); /* ОСНОВНОЙ текст */

  /* brand / accents */
  --color-primary: oklch(0.586 0.2015 5.62);
  --color-primary-content: oklch(98% 0.003 95); /* текст на primary */

  --color-secondary: #535353;
  --color-secondary-content: oklch(98% 0.003 95);

  --color-accent: oklch(0.1347 0 0);
  --color-accent-content: oklch(96% 0.003 95); /* светлый текст на accent */

  --color-neutral: oklch(30% 0.02 70);
  --color-neutral-content: oklch(96% 0.003 95);

  /* states */
  --color-info: oklch(75% 0.12 220);
  --color-info-content: oklch(15% 0.01 250);

  --color-success: oklch(72% 0.1 145);
  --color-success-content: oklch(18% 0.01 145);

  --color-warning: oklch(0.72 0.18 53);
  --color-warning-content: oklch(22% 0.02 80);

  --color-error: oklch(62% 0.2 25);
  --color-error-content: oklch(98% 0.003 95);

  /* system (используются компонентами daisyUI) */
  --radius-box: 24px; /* карточки/модалки*/
  --radius-field: 8px; /* кнопки */
  --radius-selector: 16px; /* бейджи */
  --border: 1px; /* base border-width для компонентов */
}

@plugin "daisyui/theme" {
  name: "dark";

  /* base */
  --color-base-100: oklch(0.3589 0.0043 325.67); /* верхний слой */
  --color-base-200: oklch(0.2381 0.0048 325.73); /* нижний слой */
  --color-base-300: oklch(30% 0.008 70); /* бордеры/делители */
  --color-base-content: oklch(97% 0.003 95); /* ОСНОВНОЙ текст */

  /* brand / accents (ярче, чтобы «светились») */
  --color-primary: oklch(0.586 0.2015 5.62);
  --color-primary-content: oklch(98% 0.003 95);

  --color-secondary: #535353;
  --color-secondary-content: oklch(98% 0.003 95);

  --color-accent: oklch(72% 0.09 85);
  --color-accent-content: oklch(18% 0.01 70);

  --color-neutral: oklch(40% 0.02 70);
  --color-neutral-content: oklch(96% 0.003 95);

  /* states */
  --color-info: oklch(72% 0.12 220);
  --color-info-content: oklch(15% 0.01 250);

  --color-success: oklch(68% 0.11 145);
  --color-success-content: oklch(18% 0.01 145);

  --color-warning: oklch(0.8083 0.1515 72.84);
  --color-warning-content: oklch(18% 0.02 80);

  --color-error: oklch(64% 0.2 25);
  --color-error-content: oklch(98% 0.003 95);

  /* system */
  --radius-box: 24px; /* карточки/модалки*/
  --radius-field: 8px; /* кнопки */
  --radius-selector: 16px; /* бейджи */
  --border: 1px; /* base border-width для компонентов */
}

/* Для перекрашивания браузерного фона инпутов при автоподстановке данных */
@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-base-200) inset !important;
    -webkit-text-fill-color: var(--color-base-content) !important;
    caret-color: var(--color-base-content) !important;
    border-radius: inherit; /* чтобы не обрезало углы */
    background-clip: content-box, padding-box;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-y: auto;
}

/* общий слой фона */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* светлая тема */
:root[data-theme="light"] body::before {
  background-image: url("/background-light.webp");
  background-color: rgb(88 185 32 / 38%);
  background-blend-mode: screen;
}

/* тёмная тема */
:root[data-theme="dark"] body::before {
  background-image: url("/background-dark.webp");
  background-color: rgb(0 0 0 / 60%);
  background-blend-mode: luminosity;
}

/* отключение глобального фона для изолированных страниц */
:root[data-theme="light"] body.no-site-bg::before,
:root[data-theme="dark"] body.no-site-bg::before,
body.no-site-bg::before {
  background-image: none !important;
  background-color: #111 !important;
  background-blend-mode: normal !important;
}

@layer components {
  .glass-panel-light,
  .glass-panel-light-important {
    /* @apply backdrop-blur-md bg-base-100/40 border border-white/10; */

    --glass-bg: color-mix(in oklab, transparent 80%, transparent);
    --glass-border: color-mix(in oklab, var(--glass-bg) 90%, white);
  }

  .glass-panel-light {
    @apply shadow-xl/3 inset-shadow-sm inset-shadow-black/15 backdrop-blur-sm bg-base-100/40 inset-shadow-sm;

    --tw-inset-shadow: inset 0 0 4px var(--tw-inset-shadow-color);
  }

  .glass-panel-light-important {
    @apply shadow-xl/3 !inset-shadow-sm !inset-shadow-black/15 !backdrop-blur-sm !bg-base-100/40 !inset-shadow-sm;

    --tw-inset-shadow: inset 0 0 4px var(--tw-inset-shadow-color);
  }

  .glass-panel-dark,
  .glass-panel-dark-important {
    /* @apply backdrop-blur-md bg-base-100/40 border border-white/10; */

    --glass-bg: color-mix(in oklab, transparent 80%, transparent);
    --glass-border: color-mix(in oklab, var(--glass-bg) 90%, white);
  }

  .glass-panel-dark {
    @apply inset-shadow-sm inset-shadow-current/10 backdrop-blur-sm bg-base-100/40 inset-shadow-sm;

    --tw-inset-shadow: inset 0 0 4px var(--tw-inset-shadow-color);
  }

  .glass-panel-dark-important {
    @apply !inset-shadow-sm !inset-shadow-current/10 !backdrop-blur-sm !bg-base-100/40 !inset-shadow-sm;

    --tw-inset-shadow: inset 0 0 4px var(--tw-inset-shadow-color);
  }

  /* ─────────── ИНТЕРАКТИВНОСТЬ ─────────── */
  .glass-interactive-light {
    @apply transition-[background-color,border-color,box-shadow] duration-200 ease-in-out;
    @apply hover:bg-base-100/60;
  }

  .glass-interactive-dark {
    @apply transition-[background-color,border-color,box-shadow] duration-200 ease-in-out;
    @apply hover:bg-base-content/15;
  }
}
